body {
  text-align: center;
  background-color: black;
  color: #aadeee;
}
table {
  width: 70%;
  margin-left: 20%;
}
tbody td,
th {
  text-align: justify;
}
th {
  font-size: large;
  text-transform: capitalize;
}
tr:nth-child(odd) {
  background-color: #bbbbbb;
  color: black;
}